@tailwind base;
@tailwind components;
@tailwind utilities;
/* font style */
@font-face {
  font-family: "pretendard";
  src: url("../styles/fonts/Pretendard-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "pretendard";
  src: url("../styles/fonts/Pretendard-Medium.woff");
  font-weight: 500;
}
@font-face {
  font-family: "pretendard";
  src: url("../styles/fonts/Pretendard-Bold.woff");
  font-weight: 700;
}

@layer base {
  * {
    font-family: "pretendard", sans-serif;
    @apply m-0 p-0 font-normal text-[#111111] leading-loose;
  }
}

/* reset */
@layer utilities {
  a {
    @apply block;
  }
  h2 {
    @apply text-5xl font-bold;
  }
  .contents-wrapper {
    @apply px-12;
  }
  .btn {
    @apply px-6 py-1 rounded-3xl bg-[#111111] text-white font-medium;
  }
  section {
    @apply mb-40;
  }
  h3 {
    @apply font-medium text-[32px] mb-8;
  }
  h4 {
    @apply text-[24px];
  }
  .wrapper {
    @apply mx-12;
  }
}

/* header */
@layer components {
  .member li:not(:last-child) {
    @apply inline-block after:mx-3 after:content-['|'];
  }
  .member li:not(:last-child) a {
    @apply inline-block;
  }
  .main-menu li a {
    @apply px-6 py-[18px];
  }

  .icon-menu li:not(:last-child) {
    @apply mr-6;
  }
  .jender-menu figure:not(:last-child) {
    @apply mr-6;
  }
}

/* footer */
@layer components {
  footer * {
    @apply text-white;
  }
  .footer-menu li {
    @apply cursor-pointer hover:text-slate-500;
  }
  .footer-menu li span {
    @apply font-bold block;
  }
  .footer-menu li:not(:last-child) {
    @apply mr-[120px];
  }
  .footer-b-r-menu li:not(:last-child) {
    @apply mr-6;
  }
}
.slick-slide {
  @apply px-3;
}

/* sidebar */
@layer components {
  .sidebar {
    @apply transition-all visible ml-0;
  }

  .sidebar.hide {
    @apply transition-all opacity-0 invisible  ml-[-300px];
  }
  .sidebar h4 {
    @apply text-lg font-medium my-6;
  }
  .sidebar ul {
    @apply mb-9;
  }
  .color-menu li {
    @apply flex flex-col mr-4;
  }
  .color-menu li:last-child {
    @apply m-0;
  }
  .color-menu li input {
    @apply appearance-none  border border-[#A9A9A9] rounded-full w-8 h-8;
  }
}

/* order */
@layer components {
  .image-zoom figure {
    @apply w-[642px] h-[802px] mr-2 mb-2;
  }
}


/* login */

@layer components{
  .login-util li{
    @apply text-[#E0E0E0];
  }
  .login-util li:not(:last-child){
    @apply after:content-['|'] after:mx-2;
  }
}

/* join */

@layer components{
  .join_input{
    @apply relative mb-6;
  }
  .join_input svg{
    @apply absolute top-1/2 -translate-y-1/2 text-[#656565] ml-3 mr-2
  }
  .join_input input{
    @apply px-11
  }
}